* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.kzui-flex__start {
  padding-top: 2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.kzui-flex__start section {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-bottom: 1px solid blueviolet;
  width: 100%;
}

.kzui-flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.kzui-full__height {
  min-height: 100vh;
}

.kzui-bg__blue {
  background: #60a5fa;
}
